body {
background: url(../images/black_paper.png)
}

.card-container {
    margin-top: .5em;
}

.btn {
    margin: .5em;
}

.jumbotron {
    background: url(../images/linedpaper.png);
}

.note-delete {
    float: right;
    margin: .5em;
}

.comment {
    display: inline;
}

.comment-container {
    margin: .5em;
    list-style-type: none;
}

.comment-item {
    border: dashed black;

}